@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  background: #272a36;
}

.fade-out {
  transition: opacity 0.5s ease-out;
  opacity: 0;
}

.fade-in {
  transition: opacity 0.5s ease-in;
  opacity: 1;
}

.shadow {
  box-shadow: -11px 16px 31.8px 5px rgba(255, 255, 255, 0.25);
}

.hero-title {
  color: #fff;

  font-family: Inter;
  font-size: 73px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.hero-subtitle {
  color: #fff;

  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* BELOW 704px (Smaller tablets) */
@media (max-width: 44em) {
}

/* BELOW 544px (Phones) */
@media (max-width: 34em) {
  .hero-title {
    font-size: 45px;
  }

  .hero-subtitle {
    font-size: 17px;
  }
}
